<div class="toast-container position-fixed top-0 end-0 p-3">
  <div *ngFor="let toast of toasts" 
       [ngClass]="{
         'border-success bg-success-subtle text-success-emphasis': toast.type === 'success',
         'border-danger bg-danger-subtle text-danger-emphasis': toast.type === 'danger',
         'border-info bg-info-subtle text-info-emphasis': toast.type === 'info'
       }"
       class="toast show align-items-center border rounded shadow p-2 mb-2 d-flex justify-content-between role-alert animate-slide-in" 
       style="min-width: 280px;">
    
    <div class="d-flex align-items-center gap-2 px-2">
      <i class="bi" [ngClass]="{
        'bi-check-circle-fill text-success fs-5': toast.type === 'success',
        'bi-x-circle-fill text-danger fs-5': toast.type === 'danger',
        'bi-info-circle-fill text-info fs-5': toast.type === 'info'
      }"></i>
      <span class="small fw-medium">{{ toast.text }}</span>
    </div>
    
    <button type="button" class="btn-close me-2 m-auto" (click)="removeToast(toast.id)"></button>
  </div>
</div>